div.styleCarrito {
    border: 1px solid black;
    background-color: white;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    span{
        vertical-align: 5px;
        margin-right: 5px;
        font-size: 18px;
    }
    
}
div.styleListaCarrito {
    margin: 10px 0 0 0;
    div.ListadoProductosCarrito {
        border-bottom: 1px solid black;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto;
        p {
            text-align: center;
            border-left: 1px solid black;
        }
        P:nth-child(4){
            border-right: 1px solid black;
        }
    }
    ul {
        list-style: none;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        li {
            span.Identificador {
                grid-area: 1 / 1 / 2 / 2;
            }
            span.Nombre {
                grid-area: 1 / 2 / 2 / 3;
            }
            span.Contador {
                grid-area: 1 / 3 / 2 / 4;
            }
            span.Precio {
                grid-area: 1 / 4 / 2 / 5;
            }
        }
    }
}
div.precioTotal {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
    span {
        color: red;
    }
}