<div class ="styleCarrito" (click)="verCarrito()"> <span>Ver Carrito</span> 
    <i class="fas fa-shopping-cart fa-2x"></i>

    <div class="styleListaCarrito">
        <div class="ListadoProductosCarrito">
            <!--<p>ID Producto</p>
            <p>Nombre</p>
            <p>Cantidad</p>
            <p>Precio</p>-->
        
        <ul *ngFor = "let productoFinal of carrito">
            <li>
                <span class="Identificador">{{productoFinal.id}}</span> 
                <span class="Nombre">{{productoFinal.name}}</span>
                <span class="Contador">{{constadorAcumulado}}</span>
                <span class="Precio">{{productoFinal.price}}</span>
            </li>
        </ul>
        </div>
    </div>
</div>
<div class="precioTotal">
    <span>TOTAL:</span> {{total}}
</div>
