:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.card {
    display: flex;
    span.tituloUno {
        color:white;
        background-color: blue;
        padding: 15px;
        border-radius: 15px;
    }
}