div.listaProductos{
    border: 1px solid grey;
    padding: 15px;
    margin: 10px 0 0 0;
    ul{
        border: 1px solid grey;
        padding: 20px;
        li {
            list-style: none;
            display: grid;
            grid-template-columns: 130px 20px;
            grid-template-rows: auto;
            div.botonesPlusMinus {
                grid-area: 1 / 2 / 2 / 3;
                display: inline-block;
                div.space {
                    margin-right: 10px;
                 }
            }
        }
    }
}
    

