<div class="listaProductos">
    <ul *ngFor = "let producto of productos">
      <li >{{producto.id}}. {{producto.name}} {{producto.price}}€
        <div class="botonesPlusMinus">
            <button 
            (click)="anadirAlCarrito(producto)">
            <i class="fas fa-plus fa-2xs" ></i>
            </button>
            <div class="space"></div>
            <button 
            (click)="borrarCarrito(producto)">
              <i class="fas fa-minus fa-2xs" ></i>
            </button>
        </div>
      </li>
    </ul>
</div>
<app-carrito></app-carrito>
